
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Abel', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    background-color: #000000; /* black */
    color: #ffffff; /* white */
    padding: 20px;
}

header h1 {
    font-size: 36px;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

main {
    flex: 1;
    padding: 20px;
    text-align: justify;
  }

article {
    background-color: #ffffff; /* white */
    border: 2px solid #000000; /* black */
    margin-bottom: 20px;
    padding: 20px;
}

article h2 {
    font-size: 24px;
    margin-top: 0;
}

article p {
    margin-bottom: 10px;
}

article a {
    color: #000000; /* black */
    text-decoration: none;
}

article a:hover {
    text-decoration: none
}

.art {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(60% + 40px); /* 40px added to account for padding/margin */
    margin: 0 auto;
    max-width: 1000px; /* Adjust as needed */
  }

footer {
    background-color: #000000; /* black */
    color: #ffffff; /* white */
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}