html, body {
    height: 100%;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    padding: 20px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
	color: #0078D7;
}

h2 {
	color: #0078D7;
}
  
figcaption {
	text-align: center;
}

a {
    color: #0078D7;
}

code {
    color: #0078D7;
	background-color: #f2f2f2;
	font-size: 14px;
}