html, body {
    height: 100%;
    margin: 0;
    font-family: 'Abel', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    background-color: #000000; /* black */
    color: #ffffff; /* white */
    padding: 20px;
}

header h1 {
    font-size: 36px;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(60% + 40px); /* 40px added to account for padding/margin */
    margin: 0 auto;
    max-width: 1000px; /* Adjust as needed */
  }

main h2::before {
    content: "~ ";
}
  
a {
    text-decoration: none;
    color: white;
}

main h2::first-letter {
    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: red;
    text-shadow: 1px 1px 0 #000;
}

.image-with-caption {
display: block;
position: relative;
}

.image-with-caption::after {
content: attr(alt);
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
text-align: center;
background-color: rgba(0, 0, 0, 0.8);
color: #fff;
padding: 10px;
font-size: 14px;
white-space: nowrap;
}
  
  

footer {
    background-color: #000000; /* black */
    color: #ffffff; /* white */
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}