html, body {
  height: 100%;
  margin: 0;
  font-family: 'Abel', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  background-color: #0078D7;
  color: #ffffff;
  padding: 20px;
  display: flex;
  align-items: center; /* to center vertically */
}

header img {
	width: 50px; /* adjust to your image size */
	margin-right: 10px; /* add some space between the image and text */
}

header h1 {
  font-size: 48px;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}

main {
  flex: 1;
  padding: 20px;
  text-align: justify;
}

article {
  background-color: #ffffff;
  border: 2px solid #0078D7;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.2s ease-in-out;
}
  
 article:hover {
	 box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
 }
  
article h2 {
  font-size: 18px;
  margin-top: 0;
  font-family: 'Orbitron', sans-serif;
  display: inline-block;
}

article p {
  margin-bottom: 10px;
  font-size: 16px;
}

article a {
  color: #0078D7;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

article a:hover {
  text-decoration: none;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  color: grey;
  margin-left: 10px;
  font-size: 14px;
  font-family: 'Abel', sans-serif;
}

.tags {
  margin-top: 0;
  color: grey;
  
}

footer {
  background-color: #0078D7;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 18px;
}
