html, body {
    height: 100%;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    padding: 20px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
figcaption {
text-align: center;
}